---
export interface Props {
  title: string;
  date: string;
  image: string;
  excerpt: string;
  link?: string;
}
const { title, date, image, excerpt, link = "#" } = Astro.props;
---

<article
  class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg dark:shadow-gray-700/25"
>
  <img alt={title} src={image} class="h-56 w-full object-cover" />

  <div class="bg-white p-4 sm:p-6 dark:bg-gray-900">
    <time
      datetime={date}
      class="block text-xs text-gray-500 dark:text-gray-400"
    >
      {date}
    </time>

    <a href={link}>
      <h3 class="mt-0.5 text-lg text-gray-900 dark:text-white">{title}</h3>
    </a>

    <p
      class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500 dark:text-gray-400"
    >
      {excerpt}
    </p>
  </div>
</article>
